.page {
    grid-column: 1/4;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.subHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding: 1em $pagePadding;

    h2 {
        position: relative;
        z-index: 2;
        letter-spacing: 0.6em;
        margin: 0;
    }
    .background {
        background-color: $sideBarColor;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .label {
        font-weight: bold;
        font-size: 13em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%);
        color: $backgroundColor;
        z-index: 1;
        display: flex;
        justify-content: space-evenly;
        max-width: 100vw;
        .letter {
            width: 33%;
            text-align: center;
        }
    }
    .line {
        display: block;
        width: 100%;
        height: 75%;
        border-bottom: 1px solid $primaryFontColor;
        background-color: transparent;
        z-index: 2;
    }
}

.section {
    font-size: 0.9em;
    letter-spacing: 0.3em;
    line-height: 2.3em;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    position: relative;
    min-height: 70vmin;
    width: 100%;
    overflow: hidden;
    opacity: 0;

    padding: 0 $pagePadding;

    .text {
        z-index: 2;
    }

    &:nth-of-type(even) {
        background-color: #fff;
    }
}

.section--head {
    img {
        width: 60vmax;
        position: absolute;
        right: 55%;
        z-index: -1;
    }

    .text {
        grid-column: 2;
        justify-self: left;
    }
}

.section--mid {
    overflow: hidden;
    grid-template-columns: 70% 30%;
    .text {
        justify-self: left;
    }
    img {
        width: 60vmax;
        right: 25%;
        top: 50%;
        transform: translate(50%, -50%);
        position: absolute;
    }
}

.section--hero {
    overflow: initial;
    .heroImage {
        width: initial;
        z-index: 10;
        bottom: 0;
        right: 50%;
        height: 105%;
    }
    .text {
        justify-self: center;
        position: relative;
        z-index: 11;
    }
}

.socials {
    min-height: initial;
    color: #fff;
    display: flex;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        li {
            margin: 3% 0;
            a,
            a:visited {
                display: flex;
                flex-direction: column;
                align-items: center;
                label {
                    pointer-events: none;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                span {
                    font-weight: bold;
                    font-size: 0.9em;
                    letter-spacing: initial;
                    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                &:hover,
                &:focus {
                    .icon {
                        transform: translateY(20%) scale(1.1);
                    }
                    span {
                        transform: translateY(-260%) scale(1.1);
                    }
                }
            }
        }

        .icon {
            transition: transform 0.3s;
            font-size: 5em;
        }
    }
}

.section--recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h3 {
        width: 100%;
        text-align: center;
    }
}

.channels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 5% 0;
}

.ytChannel {
    display: flex;

    margin: 2% 0;

    img {
        border-radius: 50%;
        width: 10em;
        height: 10em;
        position: relative;
        z-index: 10;
        transform: translateX(100%) scale(0.9);
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 15em;
        margin: 3%;
        transform: translateX(-25%);
        opacity: 1;
        transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            transform-origin: left;
            transition: transform 0.4s;
        }
    }
    header {
        font-weight: bold;
        font-size: 1.4em;
        line-height: initial;
    }
    p {
        font-size: 1em;
        line-height: initial;
        letter-spacing: initial;
        text-align: justify;
    }

    &:hover,
    &:focus {
        img {
            transform: translateX(0) scale(1);
        }
        .ytChannel--info {
            transform: translateX(0);
            opacity: 1;
            span {
                transform: scaleX(0);
            }
        }
    }
}

@media (max-width: 800px) {
    .ytChannel {
        img {
            transform: translateX(0) scale(1);
        }
        &--info {
            transform: translateX(0);
            opacity: 1;
            span {
                transform: scaleX(0);
            }
        }
    }
}

.section--footer {
    min-height: initial;
    align-items: center;
    .back {
        margin: 3% auto 3% 5%;
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            bottom: 25%;
            left: -10px;
            display: block;
            width: 1em;
            height: 1em;

            transform: rotateZ(45deg) translate(0);
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            border-bottom: 1px solid #343434;
            border-left: 1px solid #343434;
        }

        &:hover::before {
            transform: rotateZ(45deg) translate(-50%, 50%);
        }
    }
}
