.soundUploader {
    grid-row: 1/3;
    grid-column: 4;
    align-self: center;
    justify-self: center;
}

.fileInput {
    position: relative;
    &__input {
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        img {
            height: 100%;
        }
    }
}