* {
    box-sizing: border-box;
}

$primaryFontColor: #191919;
$sideBarColor: rgb(255, 255, 255);
$backgroundColor: #f8c878;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $backgroundColor;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: inherit;
    text-decoration: none;
    filter: brightness(1);
    transition: filter 0.2s;
    &:hover {
        filter: brightness(1.2);
    }
}

button {
    font-family: inherit;
    color: inherit;
    padding: 0;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

$sideBarWidth: 11.5em;

.App {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: $sideBarWidth 3fr 3fr;
    grid-template-rows: 0.8fr 2fr 4fr 0.4fr;

    font-family: "Nirmala UI";
    color: $primaryFontColor;
    position: relative;
}

.mainHeader {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 2;

    a {
        display: grid;
        grid-template-columns: $sideBarWidth 1fr;
    }
    

    position: sticky;
    top: 2vh;
    left: 0;

    margin: 2vh 0;

    h1 {
        font-size: 2.3em;
        letter-spacing: 0.625rem;

        display: inline-block;
        margin: 0;
    }
    .logo {
       
        &--left {
            text-align: center;
            grid-column: 1;
            color: $backgroundColor;
        }
        &--right {
            color: $sideBarColor;
            grid-column: 2;
            padding-left:2% ;
        }
    }
    p {
        margin: 5px 2%;
        font-size: .8em;

        letter-spacing: 2px;
        color: inherit;
    }
}

.sideBar {
    grid-column: 1/2;
    grid-row: 1/5;

    display: grid;
    grid-template-rows: inherit;

    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: $sideBarColor;  
}

.links {
    grid-row: 1;
    grid-column: 2/4;

    display: flex;
    justify-content: space-evenly;

    margin: 10% 1vw;
    a {
        display: inline-block;
        padding: 25px 0;
        position: relative;
        width: fit-content;
        &::after {
            content: "?";
            position: absolute;
            display: inline-block;
            font-weight: bold;
            font-size: 7em;
            top: -30%;
            right: 0;
            transition: transform 0.5s, opacity 0.4s;
            opacity: 0;
            transform: translate(-400%, 0);
        }
        &:hover::after {
            opacity: 0.1;
            transform: rotateZ(45deg) translate(0, 0);
        }
    }
}

.sampleMenu {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;

    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    header {
        width: 100%;
        padding: 3px 5%;
        display: flex;
        align-items: center;

        letter-spacing: 5.04px;
        font-size: 1em;

        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: $primaryFontColor;
            flex: 1;
            opacity: 0.1;
            // transform: translateY(2px);
            margin-left: 5px;
        }
    }

    &__menu {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
    }
    &__button {
        letter-spacing: 7.56px;
        font-weight: 100;
        font-size: 1.5em;

        margin: 10%;
        padding: 5px 0;
        align-self: center;
        justify-self: center;

        position: relative;
        transition: transform 0.5s, font-weight 0.2s;

        &::after {
            content: "";
            display: block;
            width: 40%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0) scaleX(1);
            border-bottom: 2px solid #252525;
            transition: transform 0.5s;
        }

        &:hover {
            transform: translateY(-5%);
            &::after {
                transform: translate(-50%, 5%) scaleX(2.5);
            }
        }

        &--active {
            font-weight: bold;
            &::after {
                transform: translate(-50%) scaleX(2.5);
            }
        }
    }
}

@import "./keyboard";

.backgroundImage {
    grid-row: 1/4;
    grid-column: 3/4;
    justify-self: right;
    align-self: center;
    width: 150%;
    align-self: stretch;
    transform: translateX(10%);
    // position: absolute;
    z-index: -1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    &--Strings {
        background-image: url("svg/violin.svg");
    }
    &--Piano {
        background-image: url("svg/piano.svg");
    }
    &--Vocals {
        background-image: url("svg/mic.svg");
        background-size: 70%;
    }
    &--Synth,
    &--Pads {
        background-image: url("svg/synth.svg");
        background-position: top;
        transform: translateX(21%);
        background-size: 60%;
    }
}

@import "./soundUploader";
@import "./pages";

@media (orientation: portrait) {
    html {
        transform: rotate(90deg);
        overflow-x: hidden;
        position: relative;
    }
    .App {
        max-width: 100vh;
        height: 100vw;
    }
    body {
        width: 100vh;
        height: 100vw;
    }
}

@media screen and (min-width: 3000px) {
    body {
        font-size: 32px;
    }
}

@media screen and (min-width: 2000px) {
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px), (max-height: 600px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 400px), (max-height: 400px) {
    body {
        font-size: 8px;
    }
}
