* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8c878;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

a:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

button {
  font-family: inherit;
  color: inherit;
  padding: 0;
  text-align: center;
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.App {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 12.5em 3fr 3fr;
      grid-template-columns: 1em 12.5em 3fr 3fr;
  -ms-grid-rows: 0.8fr 2fr 4fr 0.4fr;
      grid-template-rows: 0.8fr 2fr 4fr 0.4fr;
  font-family: "Nirmala UI";
  color: #191919;
  position: relative;
}

.mainHeader {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
  left: 0;
  margin: 2vh 0;
}

.mainHeader h1 {
  font-size: 2em;
  letter-spacing: 0.625rem;
  display: inline-block;
  border-bottom: 1px solid #191919;
  margin: 0;
}

.mainHeader p {
  margin: 5px 0;
  letter-spacing: 2px;
  color: inherit;
}

.sideBar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: inherit;
      grid-template-rows: inherit;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.sideBar .links {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10% 1vw;
}

.sideBar .links a {
  display: inline-block;
  padding: 25px 0;
  position: relative;
}

.sideBar .links a::after {
  content: "?";
  position: absolute;
  display: inline-block;
  font-weight: bold;
  font-size: 6em;
  opacity: 0.3;
  top: -0.3em;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  transition: opacity 0.4s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.4s;
  transition: transform 0.5s, opacity 0.4s, -webkit-transform 0.5s;
  opacity: 0;
  -webkit-transform: rotateZ(45deg) translate(-150px, 150px);
          transform: rotateZ(45deg) translate(-150px, 150px);
}

.sideBar .links a:hover::after {
  opacity: 0.3;
  -webkit-transform: rotateZ(45deg) translate(0, 0);
          transform: rotateZ(45deg) translate(0, 0);
}

.sampleMenu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sampleMenu header {
  width: 100%;
  padding: 3px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 5.04px;
  font-size: 1em;
}

.sampleMenu header::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #70707079;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin-left: 5px;
}

.sampleMenu__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
}

.sampleMenu__button {
  letter-spacing: 7.56px;
  font-weight: 100;
  font-size: 1.5em;
  margin: 10%;
  padding: 5px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  -webkit-transition: font-weight 0.2s, -webkit-transform 0.5s;
  transition: font-weight 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, font-weight 0.2s;
  transition: transform 0.5s, font-weight 0.2s, -webkit-transform 0.5s;
}

.sampleMenu__button::after {
  content: "";
  display: block;
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scaleX(1);
          transform: translate(-50%, 0) scaleX(1);
  border-bottom: 2px solid #252525;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.sampleMenu__button:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.sampleMenu__button:hover::after {
  -webkit-transform: translate(-50%, 5%) scaleX(2.5);
          transform: translate(-50%, 5%) scaleX(2.5);
}

.sampleMenu__button--active {
  font-weight: bold;
}

.sampleMenu__button--active::after {
  -webkit-transform: translate(-50%) scaleX(2.5);
          transform: translate(-50%) scaleX(2.5);
}

.keyboard {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
  padding: 0 3%;
  margin-top: 2%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.keyboard--loading {
  pointer-events: none;
  cursor: default;
}

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  height: 100%;
  margin: 1px;
  padding-bottom: 10px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.136);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.136);
  pointer-events: all;
  -webkit-transform: perspective(1000px) rotateX(0deg);
          transform: perspective(1000px) rotateX(0deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.05s;
  transition: opacity 0.2s, -webkit-transform 0.05s;
  transition: opacity 0.2s, transform 0.05s;
  transition: opacity 0.2s, transform 0.05s, -webkit-transform 0.05s;
}

.key:hover {
  cursor: pointer;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.key--white {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
  color: #1b1b1b;
}

.key--black {
  width: 4%;
  background-color: #1b1b1b;
  color: #fff;
}

.key--black:first-of-type {
  margin-left: 2%;
}

.key--black:last-of-type {
  margin-right: 2%;
}

.key--active {
  -webkit-transform: perspective(1000px) rotateX(-5deg);
          transform: perspective(1000px) rotateX(-5deg);
}

.key--loading {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

.key--editable {
  opacity: 0.7;
}

.key--editable .trigger {
  opacity: 0.5;
}

.key--edit {
  opacity: 1;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

.key--edit:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.trigger {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-height: 40%;
  width: 100%;
  font-size: 0.8em;
}

.trigger p {
  padding: 0;
  margin: 0 2%;
}

.blackKeys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: inherit;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 55%;
  z-index: 2;
  pointer-events: none;
}

#ghost11,
#ghost12,
#ghost21,
#ghost22 {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.editMap {
  position: absolute;
  top: 0;
  right: 0;
  background: #1b1b1b26;
}

.editMap:hover {
  opacity: 1;
}

.errorMessage {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backgroundImage {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.backgroundImage--Strings {
  background-image: url("svg/violin.svg");
}

.backgroundImage--Piano {
  background-image: url("svg/piano.svg");
}

.backgroundImage--Vocals {
  background-image: url("svg/mic.svg");
  background-size: 70%;
}

.backgroundImage--Synth, .backgroundImage--Pads {
  background-image: url("svg/synth.svg");
  background-position: top;
  -webkit-transform: translateX(21%);
          transform: translateX(21%);
  background-size: 60%;
}

.soundUploader {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.fileInput {
  position: relative;
}

.fileInput__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.fileInput__input:hover {
  cursor: pointer;
}

.fileInput__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.fileInput__label p {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 20px;
}

.fileInput__label img {
  margin-top: 10px;
  height: 100%;
}

.page {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1000px;
}

.page h1 {
  margin: 0;
}

.page .back {
  margin: auto auto 5% 5%;
  position: relative;
  display: inline-block;
}

.page .back::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -10px;
  display: block;
  width: 1em;
  height: 1em;
  -webkit-transform: rotateZ(45deg) translate(0);
          transform: rotateZ(45deg) translate(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-bottom: 1px solid #343434;
  border-left: 1px solid #343434;
}

.page .back:hover::before {
  -webkit-transform: rotateZ(45deg) translate(-50%, 50%);
          transform: rotateZ(45deg) translate(-50%, 50%);
}

@media (orientation: portrait) {
  html {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    overflow-x: hidden;
    position: relative;
  }
  .App {
    max-width: 100vh;
    height: 100vw;
  }
  body {
    width: 100vh;
    height: 100vw;
  }
}

@media screen and (min-width: 3000px) {
  body {
    font-size: 32px;
  }
}

@media screen and (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px), (max-height: 600px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 400px), (max-height: 400px) {
  body {
    font-size: 8px;
  }
}
/*# sourceMappingURL=index.css.map */